@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-100: #ffffff;
  --primary-200: #e0e0e0;
  --primary-300: #9b9b9b;
  --accent-100: #ffd700;
  --accent-200: #917800;
  --text-000: #101010;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #101010;
  --bg-200: #1b1f2e;
  --bg-300: #363c4e;

  --padding-xs: 5px;
  --padding-s: 10px;
  --padding-m: 20px;
  --padding-l: 30px;
  --padding-xl: 50px;

  --margin-xs: 5px;
  --margin-s: 10px;
  --margin-m: 20px;
  --margin-l: 30px;
  --margin-xl: 50px;

  --gap-xs: 5px;
  --gap-s: 10px;
  --gap-m: 20px;
  --gap-l: 30px;
  --gap-xl: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--bg-100);
  color: var(--primary-100);
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
#app {
  min-height: 100svh;
}



img {
  animation: opacityimgs .4s ease-in-out;
}


@keyframes opacityimgs{
  0%{
    opacity: 0;
    scale:102%;
    filter: blur(10);
  }
  90% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    scale: 100%;
    filter: blur(0);
  }
}
